<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<main
    class="container mx-auto -mt-10 flex min-h-screen flex-col bg-base-200 px-48 py-20"
>
    <div class="flex items-center justify-between p-3">
        <h1 class="text-4xl font-semibold">Party Information</h1>
        <button routerLink="../" class="btn btn-secondary btn-sm">
            <ng-icon class="-mt-1 text-lg" name="remixArrowLeftLine"></ng-icon
            >Back
        </button>
    </div>

    <section class="w-full flex-1 rounded-lg bg-base-100 px-6 py-3 shadow-sm">
        <div role="tablist" class="tabs tabs-bordered tabs-lg font-medium">
            <a
                (click)="changeTab('general')"
                role="tab"
                class="tab font-medium text-gray-400"
                [ngClass]="currTab === 'general' ? 'tab-active' : ''"
                >General</a
            >
            <a
                (click)="changeTab('user')"
                role="tab"
                class="tab text-gray-400"
                [ngClass]="currTab === 'user' ? 'tab-active' : ''"
                >User details</a
            >
            <a
                (click)="changeTab('bank')"
                role="tab"
                class="tab text-gray-400"
                [ngClass]="currTab === 'bank' ? 'tab-active' : ''"
                >Bank details</a
            >
            <a
                (click)="changeTab('address')"
                role="tab"
                class="tab text-gray-400"
                [ngClass]="currTab === 'address' ? 'tab-active' : ''"
                >Addresses</a
            >
        </div>
        <div class="p-8">
            <div class="h-96 w-full" *ngIf="fetchingParty">
                <app-loading-screen></app-loading-screen>
            </div>
            <app-general-details
                *ngIf="currTab === 'general' && !fetchingParty"
                [party]="party"
            ></app-general-details>
            <app-user-details
                *ngIf="currTab === 'user' && !fetchingParty"
                [user]="party.userid"
            ></app-user-details>
            <app-bank-details
                *ngIf="currTab === 'bank' && !fetchingParty"
                [banks]="party.bank_id"
            ></app-bank-details>
            <app-address-details
                *ngIf="currTab === 'address' && !fetchingParty"
                [addresses]="party.address"
            ></app-address-details>
        </div>
    </section>
</main>
