<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="grid grid-cols-2 gap-5">
    <label class="input input-bordered flex items-center gap-2">
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixUserFill"></ng-icon>
            Username :
        </span>

        <span class="line-clamp-2 grow break-words">{{ user.username }}</span>
    </label>
    <label class="input input-bordered flex items-center gap-2">
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixPhoneFill"></ng-icon>
            Phone :
        </span>

        <span class="line-clamp-2 grow break-words">{{
            user.phone_number
        }}</span>
    </label>
    <label class="input input-bordered flex items-center gap-2">
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon
                class="-mb-1 text-xl"
                name="remixShieldKeyholeFill"
            ></ng-icon>
            Permissions :
        </span>

        <span class="line-clamp-2 grow break-words">{{
            user.user_permissions
        }}</span>
    </label>
    <label class="input input-bordered flex items-center gap-2">
        <span class="text-nowrap font-medium text-gray-400"> Status : </span>

        <span
            class="badge grow"
            [ngClass]="user.is_active ? 'badge-success' : 'badge-error'"
        >
            {{ user.is_active ? 'Active' : 'Inactive' }}</span
        >
    </label>
</div>
