<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div
    class="gap-2 space-y-4 sm:grid sm:grid-cols-2 sm:space-y-0 lg:grid-cols-3 lg:gap-4 xl:grid-cols-4"
>
    <div
        class="h-44 w-full px-10 sm:col-span-2 sm:px-20 sm:py-2 md:px-24 lg:hidden"
    >
        <img
            class="h-full w-full rounded-lg object-cover"
            [src]="apiUrl + '/' + party.image"
            alt="Party image"
            alt=""
        />
    </div>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400"> Name : </span>

        <span class="line-clamp-2 grow break-words sm:text-xs lg:text-base">{{
            party.name
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixBuildingFill"></ng-icon>
            Company :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.company_name
        }}</span>
    </label>
    <div
        class="hidden h-44 w-full px-20 lg:col-span-1 lg:row-span-3 lg:inline-block lg:px-0 xl:col-span-2 xl:px-16"
    >
        <img
            class="h-full w-full rounded-lg object-cover"
            [src]="apiUrl + '/' + party.image"
            alt="Party image"
            alt=""
        />
    </div>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixMailFill"></ng-icon>
            Email :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.email
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixFileTextFill"></ng-icon>
            GSTIN :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.gstin
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixBankCard2Fill"></ng-icon>
            PAN :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.pan_no
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixSmartphoneFill"></ng-icon>
            Mobile :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.mobile_no
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixWhatsappFill"></ng-icon>
            Whatsapp :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.whatsapp_no
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixPhoneFill"></ng-icon>
            Telephone :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.telephone_no
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon
                class="-mb-1 text-xl"
                name="remixCalendarEventFill"
            ></ng-icon>
            DOB :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.date_of_birth | date
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixCalendar2Fill"></ng-icon>
            Anniversary :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.anniversary_date
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon
                class="-mb-1 text-xl"
                name="remixMoneyDollarCircleFill"
            ></ng-icon>
            Credit limit :
        </span>

        <span class="line-clamp-2 grow break-words sm:text-xs xl:text-base">{{
            party.credit_limit
        }}</span>
    </label>
    <label
        class="input input-sm input-bordered flex items-center gap-2 xl:input-md"
    >
        <span class="text-nowrap font-medium text-gray-400"> Status : </span>

        <span
            class="badge grow"
            [ngClass]="party.is_active ? 'badge-success' : 'badge-error'"
        >
            {{ party.is_active ? 'Active' : 'Inactive' }}</span
        >
    </label>
    <label
        class="textarea textarea-bordered mt-2 break-words sm:col-span-2 sm:row-auto sm:mt-0"
    >
        <span class="text-nowrap font-medium text-gray-400">
            <ng-icon class="-mb-1 text-xl" name="remixPushpinFill"></ng-icon>
            Remarks :
        </span>
        <span class="grow break-words sm:text-xs xl:text-base">{{
            party.remark
        }}</span>
    </label>
</div>
