<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<header class="navbar fixed top-0 z-40 bg-neutral shadow-md sm:px-4 md:px-8">
    <div class="flex-1">
        <a
            (click)="navigateTo('/')"
            class="text-lg font-semibold text-neutral-content sm:text-xl md:text-2xl"
            >Party Management System</a
        >
    </div>
    <div class="flex-none gap-4">
        <div class="form-control hidden sm:inline-block">
            <input
                type="text"
                placeholder="Search"
                class="input input-bordered w-24 md:w-auto"
            />
        </div>

        <div class="flex items-center justify-center">
            <label class="swap swap-rotate text-neutral-content">
                <!-- this hidden checkbox controls the state -->
                <input
                    [checked]="theme === 'dark'"
                    (click)="toggleDarkMode()"
                    type="checkbox"
                />

                <!-- sun icon -->
                <ng-icon
                    class="swap-on fill-current text-2xl"
                    name="remixSunFill"
                ></ng-icon>

                <!-- moon icon -->
                <ng-icon
                    class="swap-off fill-current text-2xl"
                    name="remixMoonFill"
                ></ng-icon>
            </label>
        </div>

        <div
            *ngIf="(authState$ | async)?.isLoggedIn"
            class="dropdown dropdown-end"
        >
            <div
                tabindex="0"
                role="button"
                class="avatar btn btn-circle btn-ghost"
            >
                <div class="w-10 rounded-full">
                    <img
                        alt="Tailwind CSS Navbar component"
                        src="https://cdn4.vectorstock.com/i/1000x1000/00/93/account-vector-38560093.jpg"
                    />
                </div>
            </div>
            <ul
                tabindex="1"
                class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-200 p-2 text-base-content shadow"
            >
                <li>
                    <a (click)="showLogoutModal()"
                        ><ng-icon
                            class="text-2xl"
                            name="remixLogoutBoxLine"
                        ></ng-icon>
                        Logout</a
                    >
                </li>
            </ul>
        </div>
    </div>
</header>

<!-------------------- logout-modal  --------------------->
<app-logout-modal></app-logout-modal>
