<main class="px-6 py-10 md:px-16 lg:px-28 lg:py-20">
    <h1 class="mb-6 text-center text-2xl font-semibold sm:text-3xl">
        Party Management
    </h1>
    <div class="my-3 flex w-full justify-end">
        <button
            (click)="showAddPartyModal()"
            class="btn btn-primary btn-sm ml-auto md:btn-md"
        >
            <ng-icon class="mb-1 text-xl" name="remixAddFill"></ng-icon>Add
            Party
        </button>

        <!-- add party modal  -->
        <app-add-party-modal></app-add-party-modal>
        <!-- ---------------  -->
    </div>
    <section class="overflow-x-auto">
        <table class="table table-zebra">
            <thead class="bg-black text-sm text-white">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>GSTIN</th>
                    <th>PAN</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="partiesLoading">
                    <td colspan="9" class="h-40">
                        <app-loading-screen [iconWidth]="20" />
                    </td>
                </tr>
                <tr *ngIf="!parties[0] && !partiesLoading">
                    <td
                        colSpan="9"
                        class="h-20 text-center text-xl font-semibold"
                    >
                        No parties to show
                    </td>
                </tr>
                <tr *ngFor="let party of parties; let partyIndex = index">
                    <th>{{ partyIndex + 1 }}</th>
                    <td>
                        <div class="flex items-center gap-3">
                            <div class="avatar">
                                <div class="mask mask-squircle h-12 w-12">
                                    <img
                                        [src]="apiUrl + '/' + party.image"
                                        alt="Party image"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="font-bold">
                                    {{ party.name }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ party.company_name }}
                    </td>
                    <td>{{ party.email }}</td>
                    <th>{{ party.mobile_no }}</th>
                    <th>{{ party.gstin }}</th>
                    <th>{{ party.pan_no }}</th>
                    <th>
                        <span
                            class="badge font-medium text-white"
                            [ngClass]="
                                party.is_active
                                    ? 'badge-success'
                                    : 'badge-error'
                            "
                            >{{ party.is_active ? 'Active' : 'Inactive' }}</span
                        >
                    </th>
                    <th>
                        <div class="flex items-center justify-center space-x-2">
                            <div class="tooltip" data-tip="view">
                                <button
                                    routerLink="{{ party.id }}"
                                    class="btn btn-outline btn-neutral btn-xs flex items-center justify-center"
                                >
                                    <ng-icon name="remixEyeFill"></ng-icon>
                                </button>
                            </div>
                            <div class="tooltip" data-tip="edit">
                                <button
                                    class="btn btn-outline btn-info btn-xs flex items-center justify-center"
                                >
                                    <ng-icon name="remixPencilFill"></ng-icon>
                                </button>
                            </div>

                            <div class="tooltip" data-tip="delete">
                                <button
                                    class="btn btn-outline btn-error btn-xs flex items-center justify-center"
                                >
                                    <ng-icon
                                        name="remixDeleteBinFill"
                                    ></ng-icon>
                                </button>
                            </div>
                        </div>
                    </th>
                </tr>
            </tbody>

            <tfoot class="bg-base-300 text-sm">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>GSTIN</th>
                    <th>PAN</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </section>
</main>
